<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Title</title>
</head>
<body>
    <div id="header" class="header">
        <div class="logo">
            <div class="coffee-pic">
                <img class="image" th:src="@{/pics/coffee-icon.png}">
            </div>
            <div class="content">
                <div class="main">
                    <p>Чижовская кофеварня</p>
                </div>
                <p>Лучший кофе в Чижовке!</p>
            </div>
        </div>
        <div class="content">
            <div class="form_toggle">
                <div class="form_toggle-item item-1">
                    <input id="fid-1" type="radio" name="radio" value="ru" checked>
                    <label for="fid-1">РУС</label>
                </div>
                <div class="form_toggle-item item-2">
                    <input id="fid-2" type="radio" name="radio" value="en">
                    <label for="fid-2">ENG</label>
                </div>
            </div>
            <div class="number">
                <p>+375 29 000 000 0</p>
            </div>
            <div class="account">
                <img class="image" th:src="@{/pics/account.png}">
            </div>
        </div>
    </div>
</body>
</html>