
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:insert="header :: #header"></div>
    <form class="coffee-form" name="coffeeform" action="#" th:action="@{/orderlist}" th:object="${wrapper}" method="POST">
        <div class="menu">
            <div class="coffee-types">
                <div class="errors">
                    <p th:if="${#fields.hasErrors('selectedCoffeeTypes')}" th:errors="*{selectedCoffeeTypes}"></p>
                    <p th:if="${#fields.hasErrors('selectedCoffeeCounts')}" th:errors="*{selectedCoffeeCounts}"></p>
                    <p th:if="${customException} != null" th:text="${customException}"></p>
                </div>
                <div class="text">
                    <h1>Наш кофеёк:</h1>
                    <div class="rows">
                        <p>Фото</p>
                        <p>Наименование</p>
                        <p>Цена</p>
                        <p>Количество</p>
                        <p>Выбор</p>
                    </div>
                </div>
                <div class="coffee-type" th:each="coffee : ${coffeeTypes}">
                    <div class="coffee-pic">
                        <img class="image" th:src="@{/pics/coffee-icon.png}">
                    </div>
                    <div class="content">
                        <p class="name" th:text="${coffee.key.typeName}"></p>
                        <p  class="price" th:text="${coffee.key.price} + ' руб.'"></p>
                        <div class="number">
                            <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                            <input type="number" min="0" value="1" th:value="${coffee.key.id}" th:field="*{selectedCoffeeCounts}" readonly>
                            <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                        </div>
                        <input class="checkbox" type="checkbox" name="coffeeField" id="check" th:value="${coffee.key.id}" th:field="*{selectedCoffeeTypes}">
                    </div>
                </div>
            </div>
            <input type="submit" value="Заказать"/>
            <div class="alert">
                <img class="image" th:src="@{/pics/info.png}">
                <p th:text="'* Каждая ' + ${config.cup} + ' чашка бесплатно.'"></p>
            </div>
        </div>
    </form>
    <footer th:insert="footer :: #footer"></footer>
</body>
</html>