
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="script" th:href="@{/js/index.js}">
</head>
<body>
<form name="coffeeform" action="#" th:action="@{/orderlist}" th:object="${wrapper}" method="POST">
    <table cellspacing="0px" cellpadding="0px" border="0px" style="border: 1px #B0B0B0 solid">
        <tr style="background-color: #C0C0C7">
            <th/>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        <tr th:if="${#fields.hasErrors('selectedCoffeeTypes')}" th:errors="*{selectedCoffeeTypes}"></tr>
        <tr th:if="${#fields.hasErrors('selectedCoffeeCounts')}" th:errors="*{selectedCoffeeCounts}"></tr>
        <tr th:if="${customException} != null" th:text="${customException}"></tr>
        <tr th:each="coffee : ${coffeeTypes}">
            <td><input type="checkbox" name="coffeeField" id="check" th:value="${coffee.key.id}" th:field="*{selectedCoffeeTypes}"></td>
            <td nowrap="true" th:text="${coffee.key.typeName}"></td>
            <td nowrap="true" th:text="${coffee.key.price} + ' руб.'"> руб.</td>
            <td align="right" class="block"><input class="field input" type="number" size="5" onfocus="blur();" id="input" th:value="${coffee.key.id}" th:field="*{selectedCoffeeCounts}"/></td>
        </tr>
        <tr style="background-color: #F0F0F0">
            <td colspan="4" align="right"><input type="submit" value="Заказать"/></td>
        </tr>
    </table>
    <p th:text="'* Каждая ' + ${config.cup} + ' чашка бесплатно.'"></p>
</form>
</body>
</html>
