
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/normalize.css">
</head>
<body>

<form name="coffeeform" action="#" th:action="@{/orderlist}" th:object="${wrapper}" method="POST">
    <table cellspacing="0px" cellpadding="0px" border="0px" style="border: 1px #B0B0B0 solid">
        <tr style="background-color: #C0C0C7">
            <th/>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        <tr th:each="coffee : ${coffeeTypes}">
            <td><input type="checkbox" th:value="${coffee.key.id}" th:field="*{selectedCoffeeTypes}"></td>
            <td nowrap="true" th:text="${coffee.key.typeName}"></td>
            <td nowrap="true" th:text="${coffee.key.price}"> руб.</td>
            <td align="right"><input class="field" type="number" size="5" onfocus="blur();" th:field="*{selectedCoffeeCounts}" th:value="${coffee.value}" /></td>
        </tr>
        <tr style="background-color: #F0F0F0">
            <td colspan="4" align="right"><input type="submit" value="Заказать"/></td>
        </tr>
    </table>
    <font color="red">*</font> - каждая третья чашка бесплатно.
</form>
</body>
</html>
