<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:insert="header :: #header"></div>
    <div class="thanks">
        <div class="notification">
            <div class="title">
                <h1>Спасибо за заказ!</h1>
            </div>
            <div class="content">
                <p>Низкий поклон от Чижовской кофеварни!</p>
            </div>
        </div>
    </div>
    <footer th:insert="footer :: #footer"></footer>
</body>
</html>

