<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
<form th:object="${order}" th:action="@{/orderlist/order}" th:method="POST">
    <table cellspacing="0px" cellpadding="2px" border="0px" style="border: 1px #B0B0B0 solid">
        <tr style="background-color: #C0C0C7">
            <th colspan="2">Доставка</th>
        </tr>
        <tr style="background-color: #F0F0F0">
            <td><b>ФИО</b></td>
            <td nowrap="true"><input class="field" type="text" size="30" th:field="*{name}"/></td>
        </tr>
        <tr style="background-color: #F0F0F0">
            <td><b>Адрес</b></td>
            <td nowrap="true"><input class="field" type="text" size="30" th:field="*{deliveryAddress}"/></td>
        </tr>
        <tr style="background-color: #F0F0F0">
            <td colspan="2" align="right"><input type="submit" value="Заказать"/></td>
        </tr>
    </table>
    <br/>
    <table cellspacing="0px" cellpadding="2px" border="0px" style="border: 1px #B0B0B0 solid">
        <tr style="background-color: #C0C0C7">
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Всего</th>
        </tr>
        <tr style="background-color: #F0F0F0" th:each="item : ${orderItems}">
            <td nowrap="true" th:text="${item.coffeeType.typeName}"></td>
            <td nowrap="true" th:text="${item.coffeeType.price}"></td>
            <td align="right" th:text="${item.quantity}"></td>
            <td><font color="red"><p></p></font> TGR</td>
        </tr>
        <tr style="background-color: #E0E0E0">
            <td colspan="3" align="right"><b>Сумма:</b></td>
            <td align="right"><p th:text="${cost}"></p> TGR</td>
        </tr>
        <tr style="background-color: #F0F0F0">
            <td colspan="3" align="right"><b>Доставка:</b></td>
            <td align="right">5 TGR</td>
        </tr>
        <tr style="background-color: #E0E0E0">
            <td colspan="3" align="right"><b>Всего:</b></td>
            <td align="right">45 TGR</td>
        </tr>
    </table>
    <br/>
    <a href="/"><link>Вернуться в магазин</link></a>
</form>
</body>
</html>

