<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
<table width="300px" cellspacing="0px" cellpadding="2px" border="0px" style="border: 1px #B0B0B0 solid">
    <tr style="background-color: #C0C0C7">
        <th>Подтверждение</th>
    </tr>
    <tr style="background-color: #F0F0F0" align="center">
        <td>Ваш заказ принят</td>
    </tr>
</table>
<br/>
<a href="/"><link>Вернуться в магазин</link></a>
</body>
</html>

