BODY
{
    font-family: verdana, arial;
    font-size: 11px;
    color: black;
    margin: 10px;
}

TABLE
{
    font-family: verdana, arial;
    font-size: 12px;
    margin: 0px;
    border: 0px;
}

TH
{
    padding: 5px 5px 5px 5px;
}

TD
{
    padding: 2px 5px 2px 5px;
    height: 23px;
}

INPUT.field
{
    height: 18px;
    margin: 0px;
    font-family: verdana, arial;
    font-size: 12px;
}