footer {
    background-color: #333;
}
footer .text {
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: flex-end;
    color: #F0F0F0;
    font-weight: bolder;
    font-size: medium;
}