BODY
{
    font-family: sans-serif;
    font-size: 11px;
    color: black;
    margin: 0px;
    height: 100%;
}

TABLE
{
    font-family: verdana, arial;
    font-size: 12px;
    margin: 0px;
    border: 0px;
}

TH
{
    padding: 5px 5px 5px 5px;
}

TD
{
    padding: 2px 5px 2px 5px;
    height: 23px;
}

INPUT.field
{
    height: 18px;
    margin: 0px;
    font-family: verdana, arial;
    font-size: 12px;
}
input[type="submit"] {
    background-color: white;
    color: black;
    border: 2px solid #9a794b;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}
.alert{
    width:50%;
    margin:20px auto;
    height: 70px;
    border-radius:5px;
    border: 1px solid #C0C0C7;
    display: flex;
    align-items: center;
}
.alert p {
    font-size: larger;
}
.alert p:nth-child(2){
    margin-left: 15px;
}
.alert p:nth-last-child(-n+2){
    margin-left: 5px;
}
.alert .image {
    align-self: center;
    width: 50px;
    margin-left: 15px;
}