<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Title</title>
</head>
<body>
    <div id="header" class="header">
        <div class="logo">
            <div class="coffee-pic">
                <img class="image" th:src="@{/pics/coffee-icon.png}">
            </div>
            <div class="content">
                <div class="main">
                    <p data-i18n="header-title">Чижовская кофеварня</p>
                </div>
                <p data-i18n="header-description">Лучший кофе в Чижовке!</p>
            </div>
        </div>
        <div class="content">
            <div id="lang-buttons" class="disabled">
                <div class="form_toggle-item item-1">
                    <input class="language" id="ru-button" type="radio" name="radio" value="ru" onclick="setLanguage(this)" checked>
                    <label for="ru-button">РУС</label>
                </div>
                <div class="form_toggle-item item-2">
                    <input class="language" id="en-button" type="radio" name="radio" value="en" onclick="setLanguage(this)">
                    <label for="en-button">ENG</label>
                </div>
            </div>
            <div class="number">
                <p>+375 29 000 000 0</p>
            </div>
            <div class="account">
                <img class="image" th:src="@{/pics/account.png}">
            </div>
            <div id="burger" class="burger">
                <img onclick="navbar()" th:src="@{/pics/menu.png}">
            </div>
        </div>
        <div class="break"></div>
        <div class="navbar">
            <li data-i18n="catalog">КАТАЛОГ</li>
            <li data-i18n="about-us">О НАС</li>
            <li data-i18n="reviews">ОТЗЫВЫ</li>
            <li>FAQ</li>
            <li>GITHUB</li>
        </div>
    </div>
    <div id="sidebar" class="sidebar-not-active">
        <div id="sidebar-group" class="right-group right-group-not-active">
            <div class="number">
                <p>+375 29 000 000 0</p>
            </div>
            <div id="lang-buttons" class="form_toggle">
                <div class="form_toggle-item item-1">
                    <input class="language" id="ru-button-menu" type="radio" name="radio-first" value="ru" onclick="setLanguage(this)" checked>
                    <label for="ru-button-menu">РУС</label>
                </div>
                <div class="form_toggle-item item-2">
                    <input class="language" id="en-button-menu" type="radio" name="radio-first" value="en" onclick="setLanguage(this)">
                    <label for="en-button-menu">ENG</label>
                </div>
            </div>
        </div>
        <a class="sidebar-element element-not-active" data-i18n="catalog" href="/">Каталог</a>
        <a class="sidebar-element element-not-active" data-i18n="about-us" href="#">О нас</a>
        <a class="sidebar-element element-not-active" data-i18n="reviews" href="#">Отзывы</a>
        <a class="sidebar-element element-not-active" href="#">FAQ</a>
        <a class="sidebar-element element-not-active" href="#">GitHub</a>
    </div>
</body>
</html>